In [1]:
conda develop .

path exists, skipping /Users/paulinaschroder/Documents/IZA/Arbeit/gettsim
completed operation for: /Users/paulinaschroder/Documents/IZA/Arbeit/gettsim

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import itertools

from itertools import product

from copy import deepcopy

from gettsim import set_up_policy_environment
from gettsim import compute_taxes_and_transfers

linestyles = itertools.cycle(["-",":","--","-."])

In [3]:
soep = pd.read_csv('/Users/paulinaschroder/Documents/Uni/Python/Bachelorarbeit/gettsim_data_soep.csv', sep=';')

/Users/paulinaschroder/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (94,95,99,110,112,148,156) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
soep.head()

,p_id,jahr,hh_id,index,zeiger_mutter,betreuungskost_m2,schulkosten,in_dataset_kidlong,hh_id_orig,hh_position,...,betreuungskost_m,entgeltpunkte,missing_hh_head,bruttolohn_m_hh,alter_hh_head,employment_status_hh_head,bruttolohn_m_sqr,alter_sqr,alter_hh_head_sqr,weiblich
0,901,2017,94.0,242741,NaN,0.0,0.0,0.0,94.0,Household head,...,0.0,0,False,0.0,66.0,Nicht erwerbstätig,0.0,4356.0,4356.0,1.0
1,1501,2017,159.0,242861,NaN,0.0,0.0,0.0,159.0,Household head,...,0.0,0,False,6500.0,59.0,Voll erwerbstätig,42250000.0,3481.0,3481.0,0.0
2,1601,2017,167.0,242897,NaN,0.0,0.0,0.0,167.0,Household head,...,0.0,0,False,700.0,77.0,Nicht erwerbstätig,0.0,5929.0,5929.0,0.0
3,1602,2017,167.0,242911,NaN,0.0,0.0,0.0,167.0,Spouse,...,0.0,0,False,700.0,77.0,Nicht erwerbstätig,490000.0,3136.0,5929.0,1.0
4,2301,2017,230.0,243142,NaN,0.0,0.0,0.0,230.0,Household head,...,0.0,0,False,0.0,71.0,Nicht erwerbstätig,0.0,5041.0,5041.0,0.0

In [5]:
soep.set_index(["hh_id", "p_id",'jahr']).sort_index()

                           index  zeiger_mutter  betreuungskost_m2  \
hh_id     p_id     jahr
94.0      901      2017   242741            NaN                0.0
                   2018   242742            NaN                0.0
                   2019   242743            NaN                0.0
159.0     1501     2017   242861            NaN                0.0
                   2018   242862            NaN                0.0
...                          ...            ...                ...
3923878.0 39238705 2017   242496            NaN                NaN
          39238706 2017   242497            NaN                NaN
3923908.0 39005602 2019  1145019            NaN                0.0
3923916.0 39107902 2019  1146553            NaN                0.0
3923967.0 37362603 2019  1123501            NaN                0.0

                         schulkosten  in_dataset_kidlong  hh_id_orig  \
hh_id     p_id     jahr
94.0      901      2017          0.0                 0.0        94.0
                   2018          0.0                 0.0        94.0
                   2019          0.0                 0.0        94.0
159.0     1501     2017          0.0                 0.0       159.0
                   2018          0.0                 0.0       159.0
...                              ...                 ...         ...
3923878.0 39238705 2017          NaN                 1.0   3923878.0
          39238706 2017          NaN                 1.0   3923878.0
3923908.0 39005602 2019          0.0                 0.0   3900568.0
3923916.0 39107902 2019          0.0                 0.0   3910792.0
3923967.0 37362603 2019          0.0                 0.0   3736261.0

                            hh_position                 hh_position_raw  \
hh_id     p_id     jahr
94.0      901      2017  Household head  Haushaltsvorstand,Bezugsperson
                   2018  Household head  Haushaltsvorstand,Bezugsperson
                   2019  Household head  Haushaltsvorstand,Bezugsperson
159.0     1501     2017  Household head  Haushaltsvorstand,Bezugsperson
                   2018  Household head  Haushaltsvorstand,Bezugsperson
...                                 ...                             ...
3923878.0 39238705 2017  Other relative    Leibliche/r Bruder,Schwester
          39238706 2017  Other relative    Leibliche/r Bruder,Schwester
3923908.0 39005602 2019  Household head  Haushaltsvorstand,Bezugsperson
3923916.0 39107902 2019  Household head  Haushaltsvorstand,Bezugsperson
3923967.0 37362603 2019  Household head  Haushaltsvorstand,Bezugsperson

                         in_dataset_pbrutto geschlecht  ...  betreuungskost_m  \
hh_id     p_id     jahr                                 ...
94.0      901      2017                 1.0   weiblich  ...          0.000000
                   2018                 1.0   weiblich  ...          0.000000
                   2019                 1.0   weiblich  ...          0.000000
159.0     1501     2017                 1.0   männlich  ...          0.000000
                   2018                 1.0   männlich  ...          0.000000
...                                     ...        ...  ...               ...
3923878.0 39238705 2017                 1.0   weiblich  ...          0.025343
          39238706 2017                 1.0   männlich  ...          0.075362
3923908.0 39005602 2019                 1.0   weiblich  ...          0.000000
3923916.0 39107902 2019                 1.0   männlich  ...          0.000000
3923967.0 37362603 2019                 1.0   männlich  ...          0.000000

                         entgeltpunkte  missing_hh_head  bruttolohn_m_hh  \
hh_id     p_id     jahr
94.0      901      2017              0            False              0.0
                   2018              0            False              0.0
                   2019              0            False              0.0
159.0     1501     2017              0            False           6500.0
                   2018              0            False           6500.0
...                                ...              ...              ...
3923878.0 39238705 2017              0            False              0.0
          39238706 2017              0            False              0.0
3923908.0 39005602 2019              0            False              0.0
3923916.0 39107902 2019              0            False            140.0
3923967.0 37362603 2019              0            False              0.0

                         alter_hh_head  \
hh_id     p_id     jahr
94.0      901      2017           66.0
                   2018           67.0
                   2019           68.0
159.0     1501     2017           59.0
                   2018           60.0
...                                ...
3923878.0 39238705 2017           19.0
          39238706 2017           19.0
3923908.0 39005602 2019           49.0
3923916.0 39107902 2019           18.0
3923967.0 37362603 2019           19.0

                                      employment_status_hh_head  \
hh_id     p_id     jahr
94.0      901      2017                      Nicht erwerbstätig
                   2018                      Nicht erwerbstätig
                   2019                      Nicht erwerbstätig
159.0     1501     2017                       Voll erwerbstätig
                   2018                       Voll erwerbstätig
...                                                         ...
3923878.0 39238705 2017                      Nicht erwerbstätig
          39238706 2017                      Nicht erwerbstätig
3923908.0 39005602 2019                      Nicht erwerbstätig
3923916.0 39107902 2019  Unregelmässig, geringfügig erwerbstät.
3923967.0 37362603 2019                      Nicht erwerbstätig

                         bruttolohn_m_sqr alter_sqr  alter_hh_head_sqr  \
hh_id     p_id     jahr
94.0      901      2017               0.0    4356.0             4356.0
                   2018               0.0    4489.0             4489.0
                   2019               0.0    4624.0             4624.0
159.0     1501     2017        42250000.0    3481.0             3481.0
                   2018        42250000.0    3600.0             3600.0
...                                   ...       ...                ...
3923878.0 39238705 2017               0.0     196.0              361.0
          39238706 2017               0.0     100.0              361.0
3923908.0 39005602 2019               0.0    2401.0             2401.0
3923916.0 39107902 2019           19600.0     324.0              324.0
3923967.0 37362603 2019               0.0     361.0              361.0

                         weiblich
hh_id     p_id     jahr
94.0      901      2017       1.0
                   2018       1.0
                   2019       1.0
159.0     1501     2017       0.0
                   2018       0.0
...                           ...
3923878.0 39238705 2017       1.0
          39238706 2017       0.0
3923908.0 39005602 2019       1.0
3923916.0 39107902 2019       0.0
3923967.0 37362603 2019       0.0

[136390 rows x 259 columns]

In [6]:
np.count_nonzero(soep['soc_assist_eld'])

10590

In [7]:
soep1 = soep.loc[(soep['soc_assist_eld']!=0)]
soep1[["hh_id", "p_id",'jahr','soc_assist_eld']].set_index(["hh_id", "p_id",'jahr']).sort_index()

                         soc_assist_eld
hh_id     p_id     jahr
604.0     6002     2017          1052.0
7641.0    76401    2018           750.0
13676.0   136701   2017          9600.0
                   2018         12000.0
                   2019         12000.0
...                                 ...
3923800.0 39238005 2017             NaN
3923835.0 39238301 2017             NaN
3923878.0 39238701 2017             NaN
          39238705 2017             NaN
          39238706 2017             NaN

[10590 rows x 1 columns]

In [8]:
params_dict, policy_func_dict = set_up_policy_environment("2016")

In [9]:
soep = soep.dropna(subset=['soc_assist_eld'])

In [10]:
soep = soep.fillna(0)

In [11]:
soep2 = soep.drop([
        "anz_kinder_hh",
        "anz_kinder_tu",
        "anz_minderj_hh",
        "nettolohn_m",
        ], axis=1)
soep2["hh_id"] = soep2["hh_id"].astype(int)
soep2["alter"] = soep2["alter"].astype(int)
soep2["arbeitsl_vorj_m"] = soep2["arbeitsl_vorj_m"].astype(int)
soep2["m_elterngeld"] = soep2["m_elterngeld"].astype(int)
soep2["behinderungsgrad"] = soep2["behinderungsgrad"].astype(int)
soep2["geburtsjahr"] = soep2["geburtsjahr"].astype(int)
soep2["geburtsmonat"] = soep2["geburtsmonat"].astype(int)
soep2["tu_id"] = soep2["tu_id"].astype(int)
soep2["kind"] = soep2["kind"].astype(bool)
soep2["arbeitsl_lfdj_m"] = soep2["arbeitsl_lfdj_m"].astype(int)
soep2["arbeitsl_vor2j_m"] = soep2["arbeitsl_vor2j_m"].astype(int)
soep2["immobilie_baujahr_hh"] = soep2["immobilie_baujahr_hh"].astype(int)
soep2["jahr_renteneintr"] = soep2["jahr_renteneintr"].astype(int)
soep2["m_elterngeld_mut"] = soep2["m_elterngeld_mut"].astype(int)
soep2["m_elterngeld_vat"] = soep2["m_elterngeld_vat"].astype(int)
soep2["wohnfläche_hh"] = soep2["wohnflaeche_hh"].astype(int)
soep2["arbeitsstunden_w"] = soep2["weekly_working_hours_actual"].astype(int)
soep2["prv_rente_m"] = soep2["prv_rente_beitr_m"]
soep2["grundrentenzeiten"] = 1
soep2["entgeltpunkte_grundrente"] = 1
soep2["gr_bewertungszeiten"] = 1
soep2["staatl_rente_m"] = soep2["ges_rente_m"]
#soep2["sonstig_eink_m"] = 0

In [12]:
soep3 = soep2.loc[(soep2['rentner']==True)]
soep_rentner = soep3.loc[(soep3["rented_or_owned"]!="Heimbewohner oder Gemeinschaftsunterkunft")]

In [13]:
soep17=soep_rentner.loc[(soep_rentner['jahr']==2017)].copy()
soep17["soc_assist_eld_m"] = soep17['soc_assist_eld']/12
soep17["sonstig_eink_m_diff"] = soep17["sonstig_eink_m"] - soep17["soc_assist_eld_m"]
soep17["sonstig_eink_m"] = soep17["sonstig_eink_m_diff"].round(2)

In [14]:
ergebnisse_personen = compute_taxes_and_transfers(
    data=soep17,
    functions=policy_func_dict,
    params=params_dict,
    targets=[
        "haushaltsgröße_hh",
        #"ges_rente_m_tu",
        "regelsatz_m_hh_ab_2011",
        "sozialv_beitr_m",
        "kost_unterk_m_hh",
        "grunds_im_alter_m_hh",
        "anrechenbares_eink_grunds_ia_m_hh",
        'anrechenbares_erwerbs_eink_grunds_ia_m',
        #'staatl_rente_m',
        'anrechenbare_prv_rente_grunds_ia_m',
        'kapital_eink_minus_pauschbetr',
        'elterngeld_m',
        "regelbedarf_m_grunds_ia_vermögens_check_hh",
        #"soli_st_tu",
        #"arbeitsl_geld_m",
        #"arbeitsl_geld_2_m_hh",
        #"kindergeld_m_tu",
        #"kindergeld_m_hh",
        #"wohngeld_m_hh",
        #"kinderzuschlag_m_hh",
        #"eink_st_tu",
    ],
    columns_overriding_functions=["staatl_rente_m"],
)
ergebnisse_personen = ergebnisse_personen.join(soep17[["hh_id","soc_assist_eld_m","alter","ges_rente_m","bruttolohn_m_hh","behinderungsgrad","hh_size","sonstig_eink_m","vermiet_eink_m","staatl_rente_m"]])

In [15]:
# Zahlen auf Haushaltsebene aggregieren, alles in Monate umrechnen.
ergebnisse = ergebnisse_personen.groupby('hh_id').agg(
    {
        'haushaltsgröße_hh': lambda x: x.sum(),
        'hh_size': lambda x: x.sum(),
        #'ges_rente_m_tu': lambda x: x.sum(),
        'ges_rente_m': lambda x: x.sum(),
        'staatl_rente_m': lambda x: x.sum(),
        'regelsatz_m_hh_ab_2011': lambda x: x.sum(),
        'kost_unterk_m_hh': lambda x: x.sum(),
        "anrechenbares_eink_grunds_ia_m_hh": lambda x: x.sum(),
        "regelbedarf_m_grunds_ia_vermögens_check_hh": lambda x: x.sum(),
        'anrechenbares_erwerbs_eink_grunds_ia_m': lambda x: x.sum(),
        'anrechenbare_prv_rente_grunds_ia_m': lambda x: x.sum(),
        'sonstig_eink_m': lambda x: x.sum(),
        'vermiet_eink_m': lambda x: x.sum(),
        #'kapital_eink_minus_pauschbetr': lambda x: x.sum() / 12,
        #'elterngeld_m': lambda x: x.sum(),
        #'bruttolohn_m_hh': lambda x: x.sum(),
        #'eink_st_tu': lambda x: x.max() / 12,
        #'soli_st_tu': lambda x: x.max() / 12,
        "sozialv_beitr_m": lambda x: x.sum(),
        #'kindergeld_m_hh': lambda x: x.max(),
        'alter': lambda x: x.max(),
        'behinderungsgrad': lambda x: x.sum(),
        'soc_assist_eld_m': lambda x: x.sum(),
        'grunds_im_alter_m_hh':lambda x: x.sum(),
        #'arbeitsl_geld_m': lambda x: x.sum(),
        #'arbeitsl_geld_2_m_hh': lambda x: x.max(),
        #'wohngeld_m_hh': lambda x: x.max(),
        #'kinderzuschlag_m_hh': lambda x: x.max(),
    }
).rename(
    columns={
        #'soc_assist_eld': 'soc_assist_eld_m',
    }
)

In [16]:
ergebnisse

,haushaltsgröße_hh,hh_size,ges_rente_m,staatl_rente_m,regelsatz_m_hh_ab_2011,kost_unterk_m_hh,anrechenbares_eink_grunds_ia_m_hh,regelbedarf_m_grunds_ia_vermögens_check_hh,anrechenbares_erwerbs_eink_grunds_ia_m,anrechenbare_prv_rente_grunds_ia_m,sonstig_eink_m,vermiet_eink_m,sozialv_beitr_m,alter,behinderungsgrad,soc_assist_eld_m,grunds_im_alter_m_hh
hh_id,,,,,,,,,,,,,,,,,
167,1,2.0,1574.0,1574.0,404.0,433.928571,1400.860000,0.000000,0.0,0.0,0.00,0.0,173.14000,77,70,0.000000,0.000000
230,1,1.0,3900.0,3900.0,404.0,0.000000,3448.581192,0.000000,0.0,0.0,0.00,50.0,419.25000,71,0,0.000000,0.000000
582,1,2.0,1850.0,1850.0,404.0,450.000000,7081.875000,0.000000,0.0,5698.0,0.00,0.0,466.12500,83,0,0.000000,0.000000
604,1,1.0,792.0,792.0,404.0,450.000000,706.860000,854.000000,0.0,0.0,0.00,0.0,85.14000,67,0,87.666667,147.140000
990,1,1.0,5300.0,5300.0,404.0,450.000000,4692.700889,0.000000,0.0,0.0,0.00,0.0,466.12500,73,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471240,4,4.0,2274.0,2274.0,1456.0,0.000000,4059.090000,0.000000,0.0,0.0,0.00,0.0,244.45500,76,0,0.000000,0.000000
3490091,1,5.0,1350.0,1350.0,404.0,0.000000,1204.875000,0.000000,0.0,0.0,0.00,0.0,145.12500,77,0,0.000000,0.000000
3500038,1,2.0,620.0,620.0,404.0,317.368421,604.600000,721.368421,0.0,0.0,51.25,0.0,66.65000,77,100,0.000000,116.768421
3500992,1,1.0,3200.0,3200.0,404.0,418.965517,15098.785606,0.000000,0.0,11698.0,1000.00,0.0,455.53125,76,0,0.000000,0.000000
3501417,1,1.0,637.0,637.0,404.0,206.250000,568.522500,610.250000,0.0,0.0,0.00,0.0,68.47750,72,0,0.000000,41.727500

In [17]:
ergebnisse_1 = ergebnisse.loc[(ergebnisse['hh_size']==1)].copy()

In [18]:
ergebnisse_1["Grundsicherung_sim"] = (
    ergebnisse_1["regelsatz_m_hh_ab_2011"] 
    + ergebnisse_1["kost_unterk_m_hh"]
    + ergebnisse_1["sozialv_beitr_m"]
    - ergebnisse_1["ges_rente_m"])

ergebnisse_1.loc[ergebnisse_1['behinderungsgrad'] >= 50, 'Grundsicherung_sim'] = (
    ergebnisse_1["Grundsicherung_sim"] 
    + 0.17 * ergebnisse_1["regelsatz_m_hh_ab_2011"]
)

ergebnisse_1.loc[ergebnisse_1['Grundsicherung_sim'] <= 0, 'Grundsicherung_sim'] = 0

In [19]:
ergebnisse_1

,haushaltsgröße_hh,hh_size,ges_rente_m,staatl_rente_m,regelsatz_m_hh_ab_2011,kost_unterk_m_hh,anrechenbares_eink_grunds_ia_m_hh,regelbedarf_m_grunds_ia_vermögens_check_hh,anrechenbares_erwerbs_eink_grunds_ia_m,anrechenbare_prv_rente_grunds_ia_m,sonstig_eink_m,vermiet_eink_m,sozialv_beitr_m,alter,behinderungsgrad,soc_assist_eld_m,grunds_im_alter_m_hh,Grundsicherung_sim
hh_id,,,,,,,,,,,,,,,,,,
230,1,1.0,3900.000000,3900.000000,404.0,0.000000,3448.581192,0.00,0.0,0.0,0.0,50.0,419.250000,71,0,0.000000,0.0000,0.0000
604,1,1.0,792.000000,792.000000,404.0,450.000000,706.860000,854.00,0.0,0.0,0.0,0.0,85.140000,67,0,87.666667,147.1400,147.1400
990,1,1.0,5300.000000,5300.000000,404.0,450.000000,4692.700889,0.00,0.0,0.0,0.0,0.0,466.125000,73,0,0.000000,0.0000,0.0000
1015,1,1.0,2501.000000,2501.000000,404.0,421.875000,6748.875000,0.00,0.0,4714.0,0.0,0.0,466.125000,79,50,0.000000,0.0000,0.0000
1708,1,1.0,1400.000000,1400.000000,404.0,301.800000,1246.000000,0.00,0.0,0.0,0.0,0.0,154.000000,69,75,0.000000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3344850,1,1.0,400.000000,400.000000,404.0,450.000000,357.000000,854.00,0.0,0.0,0.0,0.0,43.000000,76,0,370.250000,497.0000,497.0000
3346667,1,1.0,1751.111111,1751.111111,404.0,420.000000,1562.866667,824.00,0.0,0.0,0.0,0.0,188.244444,67,0,0.000000,0.0000,0.0000
3414603,1,1.0,1709.000000,1709.000000,404.0,0.000000,18408.023810,0.00,0.0,19474.0,0.0,0.0,455.531250,69,0,0.000000,0.0000,0.0000
3500992,1,1.0,3200.000000,3200.000000,404.0,418.965517,15098.785606,0.00,0.0,11698.0,1000.0,0.0,455.531250,76,0,0.000000,0.0000,0.0000
3501417,1,1.0,637.000000,637.000000,404.0,206.250000,568.522500,610.25,0.0,0.0,0.0,0.0,68.477500,72,0,0.000000,41.7275,41.7275

In [20]:
a = ergebnisse_1.loc[(ergebnisse_1['soc_assist_eld_m']!=0)]
a

,haushaltsgröße_hh,hh_size,ges_rente_m,staatl_rente_m,regelsatz_m_hh_ab_2011,kost_unterk_m_hh,anrechenbares_eink_grunds_ia_m_hh,regelbedarf_m_grunds_ia_vermögens_check_hh,anrechenbares_erwerbs_eink_grunds_ia_m,anrechenbare_prv_rente_grunds_ia_m,sonstig_eink_m,vermiet_eink_m,sozialv_beitr_m,alter,behinderungsgrad,soc_assist_eld_m,grunds_im_alter_m_hh,Grundsicherung_sim
hh_id,,,,,,,,,,,,,,,,,,
604,1,1.0,792.000000,792.000000,404.0,450.000000,706.860000,854.000000,0.0,0.0,0.00,0.0,85.140000,67,0,87.666667,147.140000,147.140000
37940,1,1.0,360.000000,360.000000,404.0,231.617647,321.300000,635.617647,0.0,0.0,0.00,0.0,38.700000,73,0,300.000000,314.317647,314.317647
71099,1,1.0,908.000000,908.000000,404.0,450.000000,1847.140000,854.000000,0.0,1198.0,0.00,0.0,258.860000,66,0,684.250000,0.000000,204.860000
91642,1,1.0,245.000000,245.000000,404.0,257.142857,218.050000,661.142857,0.0,0.0,0.00,0.0,26.950000,81,0,250.000000,443.092857,443.092857
128228,1,1.0,290.000000,290.000000,404.0,420.000000,258.825000,824.000000,0.0,0.0,0.00,0.0,31.175000,73,0,550.000000,565.175000,565.175000
208558,1,1.0,838.000000,838.000000,404.0,370.000000,949.150000,774.000000,0.0,0.0,203.33,0.0,92.180000,67,50,79.000000,0.000000,96.860000
254436,1,1.0,450.000000,450.000000,404.0,356.538462,401.625000,0.000000,0.0,0.0,0.00,0.0,48.375000,66,0,71.666667,0.000000,358.913462
257443,1,1.0,119.000000,119.000000,404.0,441.346154,106.207500,845.346154,0.0,0.0,0.00,0.0,12.792500,80,30,675.333333,739.138654,739.138654
259101,1,1.0,1296.083333,1296.083333,404.0,424.800000,2074.504375,828.800000,0.0,0.0,917.75,0.0,139.328958,65,80,305.583333,0.000000,0.000000
274810,1,1.0,614.000000,614.000000,404.0,335.322581,565.825000,739.322581,0.0,0.0,17.83,0.0,66.005000,66,70,66.250000,173.497581,260.007581
301183,1,1.0,1270.083333,1270.083333,404.0,297.987805,1133.549375,0.000000,0.0,0.0,0.00,0.0,136.533958,66,0,370.250000,0.000000,0.000000
304379,1,1.0,635.000000,635.000000,404.0,225.000000,566.737500,629.000000,0.0,0.0,0.00,0.0,68.262500,70,0,635.000000,62.262500,62.262500
306720,1,1.0,800.000000,800.000000,404.0,285.000000,714.000000,689.000000,0.0,0.0,0.00,0.0,86.000000,68,0,370.250000,0.000000,0.000000
317284,1,1.0,660.000000,660.000000,404.0,276.689189,589.050000,680.689189,0.0,0.0,0.00,0.0,70.950000,77,0,165.000000,91.639189,91.639189
337234,1,1.0,570.000000,570.000000,404.0,450.000000,507.300000,854.000000,0.0,0.0,0.00,0.0,62.700000,71,60,709.000000,346.700000,415.380000
349682,1,1.0,792.000000,792.000000,404.0,293.951613,706.860000,697.951613,0.0,0.0,0.00,0.0,85.140000,67,0,108.000000,0.000000,0.000000
389765,1,1.0,201.000000,201.000000,404.0,323.000000,178.890000,727.000000,0.0,0.0,0.00,0.0,22.110000,72,0,440.083333,548.110000,548.110000
502871,1,1.0,1669.000000,1669.000000,404.0,378.750000,1714.582500,0.000000,0.0,0.0,225.00,0.0,179.417500,70,100,755.166667,0.000000,0.000000
503266,1,1.0,519.000000,519.000000,404.0,0.000000,463.207500,0.000000,0.0,0.0,0.00,0.0,55.792500,66,0,60.000000,0.000000,0.000000
511218,1,1.0,1800.000000,1800.000000,404.0,0.000000,1605.589492,0.000000,0.0,0.0,0.00,0.0,193.500000,65,0,829.083333,0.000000,0.000000
800651,1,1.0,850.000000,850.000000,404.0,306.382979,1044.125000,710.382979,0.0,350.0,0.00,0.0,155.875000,67,100,972.000000,0.000000,84.937979
2156337,1,1.0,739.000000,739.000000,404.0,150.000000,657.710000,554.000000,0.0,0.0,0.00,0.0,81.290000,71,0,43.000000,0.000000,0.000000
2162582,1,1.0,594.000000,594.000000,404.0,319.090909,530.145000,723.090909,0.0,0.0,0.00,0.0,63.855000,66,20,191.000000,192.945909,192.945909
2174920,1,1.0,890.583333,890.583333,404.0,380.000000,792.619167,784.000000,0.0,0.0,0.00,0.0,97.964167,71,60,750.000000,0.000000,60.060833
2181153,1,1.0,530.000000,530.000000,404.0,333.851351,473.025000,737.851351,0.0,0.0,0.00,0.0,56.975000,69,0,380.000000,264.826351,264.826351
3003344,1,1.0,300.000000,300.000000,404.0,406.250000,267.000000,810.250000,0.0,0.0,0.00,0.0,33.000000,75,50,600.000000,543.250000,611.930000
3036749,1,1.0,112.000000,112.000000,404.0,331.578947,99.960000,735.578947,0.0,0.0,0.00,0.0,12.040000,74,100,775.666667,635.618947,704.298947
3052426,1,1.0,680.000000,680.000000,404.0,268.548387,605.200000,672.548387,0.0,0.0,0.00,0.0,74.800000,68,0,137.500000,67.348387,67.348387
3053570,1,1.0,651.000000,651.000000,404.0,410.943396,631.017500,814.943396,0.0,0.0,50.00,0.0,69.982500,76,0,878.000000,183.925896,233.925896
3055972,1,1.0,497.000000,497.000000,404.0,255.288462,443.572500,659.288462,0.0,0.0,0.00,0.0,53.427500,71,0,282.000000,215.715962,215.715962
3062871,1,1.0,220.000000,220.000000,404.0,320.000000,196.350000,724.000000,0.0,0.0,0.00,0.0,23.650000,77,0,570.000000,527.650000,527.650000
3063614,1,1.0,555.000000,555.000000,404.0,405.000000,495.337500,809.000000,0.0,0.0,0.00,0.0,59.662500,75,0,134.166667,313.662500,313.662500
3073865,1,1.0,680.000000,680.000000,404.0,250.000000,606.900000,654.000000,0.0,0.0,0.00,0.0,73.100000,91,80,62.833333,47.100000,115.780000
3077615,1,1.0,746.000000,746.000000,404.0,306.118421,665.805000,710.118421,0.0,0.0,0.00,0.0,80.195000,79,0,198.000000,44.313421,44.313421
3082970,1,1.0,800.000000,800.000000,404.0,325.000000,714.000000,729.000000,0.0,0.0,0.00,0.0,86.000000,71,0,370.250000,15.000000,15.000000
3094420,1,1.0,860.000000,860.000000,404.0,312.711864,767.550000,716.711864,0.0,0.0,0.00,0.0,92.450000,66,0,150.000000,0.000000,0.000000
3135615,1,1.0,1100.000000,1100.000000,404.0,406.698113,981.750000,810.698113,0.0,0.0,0.00,0.0,118.250000,70,0,117.166667,0.000000,0.000000
3136026,1,1.0,600.000000,600.000000,404.0,430.961538,665.000000,834.961538,0.0,0.0,129.50,0.0,64.500000,70,70,180.000000,169.961538,368.141538
3136123,1,1.0,63.000000,63.000000,404.0,310.000000,56.227500,714.000000,0.0,0.0,0.00,0.0,6.772500,68,0,540.000000,657.772500,657.772500
3143596,1,1.0,510.000000,510.000000,404.0,218.076923,455.175000,622.076923,0.0,0.0,0.00,0.0,54.825000,67,0,130.000000,166.901923,166.901923
3171395,1,1.0,25.000000,25.000000,404.0,450.000000,22.312500,854.000000,0.0,0.0,0.00,0.0,2.687500,68,70,1000.000000,831.687500,900.367500
3173525,1,1.0,0.000000,0.000000,404.0,418.094520,0.000000,822.094520,0.0,0.0,0.00,0.0,0.000000,69,20,735.333333,822.094520,822.094520
3199044,1,1.0,430.000000,430.000000,404.0,450.000000,383.775000,854.000000,0.0,0.0,0.00,0.0,46.225000,66,0,249.000000,470.225000,470.225000
3214337,1,1.0,22.000000,22.000000,404.0,450.000000,19.635000,854.000000,0.0,0.0,0.00,0.0,2.365000,69,0,963.000000,834.365000,834.365000
3235202,1,1.0,740.000000,740.000000,404.0,313.200000,660.450000,717.200000,0.0,0.0,0.00,0.0,79.550000,70,0,59.500000,56.750000,56.750000
3237558,1,1.0,700.000000,700.000000,404.0,396.964286,624.750000,800.964286,0.0,0.0,0.00,0.0,75.250000,70,0,112.000000,176.214286,176.214286
3255327,1,1.0,400.000000,400.000000,404.0,320.000000,356.000000,724.000000,0.0,0.0,0.00,0.0,44.000000,74,0,310.000000,368.000000,368.000000
3305650,1,1.0,571.000000,571.000000,404.0,356.052632,509.617500,760.052632,0.0,0.0,0.00,0.0,61.382500,70,0,276.000000,250.435132,250.435132
3333638,1,1.0,221.000000,221.000000,404.0,228.750000,197.242500,632.750000,0.0,0.0,0.00,0.0,23.757500,76,0,400.000000,435.507500,435.507500
3344850,1,1.0,400.000000,400.000000,404.0,450.000000,357.000000,854.000000,0.0,0.0,0.00,0.0,43.000000,76,0,370.250000,497.000000,497.000000

In [21]:
np.count_nonzero(a['hh_size'])

50

In [22]:
# in sonstig_eink_m ist soc_assist_eld