In [1]:
conda develop .

path exists, skipping /Users/paulinaschroder/Documents/IZA/Arbeit/gettsim
completed operation for: /Users/paulinaschroder/Documents/IZA/Arbeit/gettsim

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import itertools

from itertools import product

from copy import deepcopy

from gettsim import set_up_policy_environment
from gettsim import compute_taxes_and_transfers

linestyles = itertools.cycle(["-",":","--","-."])

In [3]:
soep = pd.read_csv('/Users/paulinaschroder/Documents/Uni/Python/Bachelorarbeit/gettsim_data_soep.csv', sep=';')

/Users/paulinaschroder/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (94,95,99,110,112,148,156) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
soep.head()

,p_id,jahr,hh_id,index,zeiger_mutter,betreuungskost_m2,schulkosten,in_dataset_kidlong,hh_id_orig,hh_position,...,betreuungskost_m,entgeltpunkte,missing_hh_head,bruttolohn_m_hh,alter_hh_head,employment_status_hh_head,bruttolohn_m_sqr,alter_sqr,alter_hh_head_sqr,weiblich
0,901,2017,94.0,242741,NaN,0.0,0.0,0.0,94.0,Household head,...,0.0,0,False,0.0,66.0,Nicht erwerbstätig,0.0,4356.0,4356.0,1.0
1,1501,2017,159.0,242861,NaN,0.0,0.0,0.0,159.0,Household head,...,0.0,0,False,6500.0,59.0,Voll erwerbstätig,42250000.0,3481.0,3481.0,0.0
2,1601,2017,167.0,242897,NaN,0.0,0.0,0.0,167.0,Household head,...,0.0,0,False,700.0,77.0,Nicht erwerbstätig,0.0,5929.0,5929.0,0.0
3,1602,2017,167.0,242911,NaN,0.0,0.0,0.0,167.0,Spouse,...,0.0,0,False,700.0,77.0,Nicht erwerbstätig,490000.0,3136.0,5929.0,1.0
4,2301,2017,230.0,243142,NaN,0.0,0.0,0.0,230.0,Household head,...,0.0,0,False,0.0,71.0,Nicht erwerbstätig,0.0,5041.0,5041.0,0.0

In [5]:
soep.set_index(["hh_id", "p_id",'jahr']).sort_index()

                           index  zeiger_mutter  betreuungskost_m2  \
hh_id     p_id     jahr
94.0      901      2017   242741            NaN                0.0
                   2018   242742            NaN                0.0
                   2019   242743            NaN                0.0
159.0     1501     2017   242861            NaN                0.0
                   2018   242862            NaN                0.0
...                          ...            ...                ...
3923878.0 39238705 2017   242496            NaN                NaN
          39238706 2017   242497            NaN                NaN
3923908.0 39005602 2019  1145019            NaN                0.0
3923916.0 39107902 2019  1146553            NaN                0.0
3923967.0 37362603 2019  1123501            NaN                0.0

                         schulkosten  in_dataset_kidlong  hh_id_orig  \
hh_id     p_id     jahr
94.0      901      2017          0.0                 0.0        94.0
                   2018          0.0                 0.0        94.0
                   2019          0.0                 0.0        94.0
159.0     1501     2017          0.0                 0.0       159.0
                   2018          0.0                 0.0       159.0
...                              ...                 ...         ...
3923878.0 39238705 2017          NaN                 1.0   3923878.0
          39238706 2017          NaN                 1.0   3923878.0
3923908.0 39005602 2019          0.0                 0.0   3900568.0
3923916.0 39107902 2019          0.0                 0.0   3910792.0
3923967.0 37362603 2019          0.0                 0.0   3736261.0

                            hh_position                 hh_position_raw  \
hh_id     p_id     jahr
94.0      901      2017  Household head  Haushaltsvorstand,Bezugsperson
                   2018  Household head  Haushaltsvorstand,Bezugsperson
                   2019  Household head  Haushaltsvorstand,Bezugsperson
159.0     1501     2017  Household head  Haushaltsvorstand,Bezugsperson
                   2018  Household head  Haushaltsvorstand,Bezugsperson
...                                 ...                             ...
3923878.0 39238705 2017  Other relative    Leibliche/r Bruder,Schwester
          39238706 2017  Other relative    Leibliche/r Bruder,Schwester
3923908.0 39005602 2019  Household head  Haushaltsvorstand,Bezugsperson
3923916.0 39107902 2019  Household head  Haushaltsvorstand,Bezugsperson
3923967.0 37362603 2019  Household head  Haushaltsvorstand,Bezugsperson

                         in_dataset_pbrutto geschlecht  ...  betreuungskost_m  \
hh_id     p_id     jahr                                 ...
94.0      901      2017                 1.0   weiblich  ...          0.000000
                   2018                 1.0   weiblich  ...          0.000000
                   2019                 1.0   weiblich  ...          0.000000
159.0     1501     2017                 1.0   männlich  ...          0.000000
                   2018                 1.0   männlich  ...          0.000000
...                                     ...        ...  ...               ...
3923878.0 39238705 2017                 1.0   weiblich  ...          0.025343
          39238706 2017                 1.0   männlich  ...          0.075362
3923908.0 39005602 2019                 1.0   weiblich  ...          0.000000
3923916.0 39107902 2019                 1.0   männlich  ...          0.000000
3923967.0 37362603 2019                 1.0   männlich  ...          0.000000

                         entgeltpunkte  missing_hh_head  bruttolohn_m_hh  \
hh_id     p_id     jahr
94.0      901      2017              0            False              0.0
                   2018              0            False              0.0
                   2019              0            False              0.0
159.0     1501     2017              0            False           6500.0
                   2018              0            False           6500.0
...                                ...              ...              ...
3923878.0 39238705 2017              0            False              0.0
          39238706 2017              0            False              0.0
3923908.0 39005602 2019              0            False              0.0
3923916.0 39107902 2019              0            False            140.0
3923967.0 37362603 2019              0            False              0.0

                         alter_hh_head  \
hh_id     p_id     jahr
94.0      901      2017           66.0
                   2018           67.0
                   2019           68.0
159.0     1501     2017           59.0
                   2018           60.0
...                                ...
3923878.0 39238705 2017           19.0
          39238706 2017           19.0
3923908.0 39005602 2019           49.0
3923916.0 39107902 2019           18.0
3923967.0 37362603 2019           19.0

                                      employment_status_hh_head  \
hh_id     p_id     jahr
94.0      901      2017                      Nicht erwerbstätig
                   2018                      Nicht erwerbstätig
                   2019                      Nicht erwerbstätig
159.0     1501     2017                       Voll erwerbstätig
                   2018                       Voll erwerbstätig
...                                                         ...
3923878.0 39238705 2017                      Nicht erwerbstätig
          39238706 2017                      Nicht erwerbstätig
3923908.0 39005602 2019                      Nicht erwerbstätig
3923916.0 39107902 2019  Unregelmässig, geringfügig erwerbstät.
3923967.0 37362603 2019                      Nicht erwerbstätig

                         bruttolohn_m_sqr alter_sqr  alter_hh_head_sqr  \
hh_id     p_id     jahr
94.0      901      2017               0.0    4356.0             4356.0
                   2018               0.0    4489.0             4489.0
                   2019               0.0    4624.0             4624.0
159.0     1501     2017        42250000.0    3481.0             3481.0
                   2018        42250000.0    3600.0             3600.0
...                                   ...       ...                ...
3923878.0 39238705 2017               0.0     196.0              361.0
          39238706 2017               0.0     100.0              361.0
3923908.0 39005602 2019               0.0    2401.0             2401.0
3923916.0 39107902 2019           19600.0     324.0              324.0
3923967.0 37362603 2019               0.0     361.0              361.0

                         weiblich
hh_id     p_id     jahr
94.0      901      2017       1.0
                   2018       1.0
                   2019       1.0
159.0     1501     2017       0.0
                   2018       0.0
...                           ...
3923878.0 39238705 2017       1.0
          39238706 2017       0.0
3923908.0 39005602 2019       1.0
3923916.0 39107902 2019       0.0
3923967.0 37362603 2019       0.0

[136390 rows x 259 columns]

In [6]:
np.count_nonzero(soep['soc_assist_eld'])

10590

In [7]:
soep1 = soep.loc[(soep['soc_assist_eld']!=0)]
soep1[["hh_id", "p_id",'jahr','soc_assist_eld']].set_index(["hh_id", "p_id",'jahr']).sort_index()

                         soc_assist_eld
hh_id     p_id     jahr
604.0     6002     2017          1052.0
7641.0    76401    2018           750.0
13676.0   136701   2017          9600.0
                   2018         12000.0
                   2019         12000.0
...                                 ...
3923800.0 39238005 2017             NaN
3923835.0 39238301 2017             NaN
3923878.0 39238701 2017             NaN
          39238705 2017             NaN
          39238706 2017             NaN

[10590 rows x 1 columns]

In [8]:
params_dict, policy_func_dict = set_up_policy_environment("2016")

In [9]:
soep = soep.dropna(subset=['soc_assist_eld'])

In [10]:
soep = soep.fillna(0)

In [11]:
soep2 = soep.drop([
        "anz_kinder_hh",
        "anz_kinder_tu",
        "anz_minderj_hh",
        "nettolohn_m",
        ], axis=1)
soep2["hh_id"] = soep2["hh_id"].astype(int)
soep2["alter"] = soep2["alter"].astype(int)
soep2["arbeitsl_vorj_m"] = soep2["arbeitsl_vorj_m"].astype(int)
soep2["m_elterngeld"] = soep2["m_elterngeld"].astype(int)
soep2["behinderungsgrad"] = soep2["behinderungsgrad"].astype(int)
soep2["geburtsjahr"] = soep2["geburtsjahr"].astype(int)
soep2["geburtsmonat"] = soep2["geburtsmonat"].astype(int)
soep2["tu_id"] = soep2["tu_id"].astype(int)
soep2["kind"] = soep2["kind"].astype(bool)
soep2["arbeitsl_lfdj_m"] = soep2["arbeitsl_lfdj_m"].astype(int)
soep2["arbeitsl_vor2j_m"] = soep2["arbeitsl_vor2j_m"].astype(int)
soep2["immobilie_baujahr_hh"] = soep2["immobilie_baujahr_hh"].astype(int)
soep2["jahr_renteneintr"] = soep2["jahr_renteneintr"].astype(int)
soep2["m_elterngeld_mut"] = soep2["m_elterngeld_mut"].astype(int)
soep2["m_elterngeld_vat"] = soep2["m_elterngeld_vat"].astype(int)
soep2["wohnfläche_hh"] = soep2["wohnflaeche_hh"].astype(int)
soep2["arbeitsstunden_w"] = soep2["weekly_working_hours_actual"].astype(int)
soep2["prv_rente_m"] = 0
soep2["grundrentenzeiten"] = 1
soep2["entgeltpunkte_grundrente"] = 1
soep2["gr_bewertungszeiten"] = 1
soep2["staatl_rente_m"] = soep2["ges_rente_m"]
soep2["sonstig_eink_m"] = 0
soep2["bruttokaltmiete_m_hh"] = 5

In [12]:
soep3 = soep2.loc[(soep2['rentner']==True)]
soep_rentner = soep3.loc[(soep3["rented_or_owned"]!="Heimbewohner oder Gemeinschaftsunterkunft")]

In [13]:
soep17=soep_rentner.loc[(soep_rentner['jahr']==2017)].copy()
soep17["soc_assist_eld_m"] = soep17['soc_assist_eld']/12
#soep17["sonstig_eink_m_diff"] = soep17["sonstig_eink_m"] - soep17["soc_assist_eld_m"]
#soep17["sonstig_eink_m"] = soep17["sonstig_eink_m_diff"].round(2)

In [14]:
# Assumption: everone with a disabilitiy degree of at leat 50% has a Schwerbehindertenausweis mit Merkzeichen G
soep17["schwerbe_ausweis_g"] = False
soep17.loc[soep17["behinderungsgrad"] >= 50, "schwerbe_ausweis_g"] = True
soep17 = soep17.loc[(soep17['hh_size']==1)].copy()

In [15]:
ergebnisse_personen = compute_taxes_and_transfers(
    data=soep17,
    functions=policy_func_dict,
    params=params_dict,
    targets=[
        "haushaltsgröße_hh",
        #"ges_rente_m_tu",
        "regelsatz_m_hh_ab_2011",
        "sozialv_beitr_m",
        "kost_unterk_m_hh",
        "grunds_im_alter_m_hh",
        "anrechenbares_eink_grunds_ia_m_hh",
        'anrechenbares_erwerbs_eink_grunds_ia_m',
        #'staatl_rente_m',
        'anrechenbare_prv_rente_grunds_ia_m',
        'kapital_eink_minus_pauschbetr',
        'elterngeld_m',
        "regelbedarf_m_grunds_ia_vermögens_check_hh",
        "mehrbedarf_behinderung_m_hh",
        #"soli_st_tu",
        #"arbeitsl_geld_m",
        #"arbeitsl_geld_2_m_hh",
        #"kindergeld_m_tu",
        #"kindergeld_m_hh",
        #"wohngeld_m_hh",
        #"kinderzuschlag_m_hh",
        #"eink_st_tu",
    ],
    columns_overriding_functions=["staatl_rente_m"],
)
ergebnisse_personen = ergebnisse_personen.join(soep17[["hh_id","soc_assist_eld_m","alter","ges_rente_m","bruttolohn_m_hh","behinderungsgrad","hh_size","sonstig_eink_m","vermiet_eink_m","staatl_rente_m","region","geschlecht","bildungsstand","rented_or_owned","marital_status","hh_gewicht","vermögen_hh","schwerbe_ausweis_g"]])

In [16]:
# Zahlen auf Haushaltsebene aggregieren, alles in Monate umrechnen.
ergebnisse = ergebnisse_personen.groupby('hh_id').agg(
    {
        'haushaltsgröße_hh': lambda x: x.sum(),
        'hh_size': lambda x: x.sum(),
        #'ges_rente_m_tu': lambda x: x.sum(),
        'ges_rente_m': lambda x: x.sum(),
        'staatl_rente_m': lambda x: x.sum(),
        'regelsatz_m_hh_ab_2011': lambda x: x.sum(),
        'kost_unterk_m_hh': lambda x: x.sum(),
        "anrechenbares_eink_grunds_ia_m_hh": lambda x: x.sum(),
        "regelbedarf_m_grunds_ia_vermögens_check_hh": lambda x: x.sum(),
        'anrechenbares_erwerbs_eink_grunds_ia_m': lambda x: x.sum(),
        'anrechenbare_prv_rente_grunds_ia_m': lambda x: x.sum(),
        'sonstig_eink_m': lambda x: x.sum(),
        'vermiet_eink_m': lambda x: x.sum(),
        #'kapital_eink_minus_pauschbetr': lambda x: x.sum() / 12,
        #'elterngeld_m': lambda x: x.sum(),
        #'bruttolohn_m_hh': lambda x: x.sum(),
        #'eink_st_tu': lambda x: x.max() / 12,
        #'soli_st_tu': lambda x: x.max() / 12,
        "sozialv_beitr_m": lambda x: x.sum(),
        #'kindergeld_m_hh': lambda x: x.max(),
        'alter': lambda x: x.max(),
        'soc_assist_eld_m': lambda x: x.sum(),
        'grunds_im_alter_m_hh':lambda x: x.sum(),
        "region": lambda x: x.max(),
        "geschlecht": lambda x: x.max(),
        "bildungsstand": lambda x: x.max(),
        "rented_or_owned": lambda x: x.max(),
        "marital_status": lambda x: x.max(),
        "hh_gewicht": lambda x: x.sum(),
        "vermögen_hh": lambda x: x.sum(),
        "mehrbedarf_behinderung_m_hh": lambda x: x.sum(),
        "schwerbe_ausweis_g": lambda x: x.max(),
        'behinderungsgrad': lambda x: x.sum(),
        #'arbeitsl_geld_m': lambda x: x.sum(),
        #'arbeitsl_geld_2_m_hh': lambda x: x.max(),
        #'wohngeld_m_hh': lambda x: x.max(),
        #'kinderzuschlag_m_hh': lambda x: x.max(),
    }
).rename(
    columns={
        #'soc_assist_eld': 'soc_assist_eld_m',
    }
)

In [17]:
ergebnisse

,haushaltsgröße_hh,hh_size,ges_rente_m,staatl_rente_m,regelsatz_m_hh_ab_2011,kost_unterk_m_hh,anrechenbares_eink_grunds_ia_m_hh,regelbedarf_m_grunds_ia_vermögens_check_hh,anrechenbares_erwerbs_eink_grunds_ia_m,anrechenbare_prv_rente_grunds_ia_m,...,region,geschlecht,bildungsstand,rented_or_owned,marital_status,hh_gewicht,vermögen_hh,mehrbedarf_behinderung_m_hh,schwerbe_ausweis_g,behinderungsgrad
hh_id,,,,,,,,,,,,,,,,,,,,,
230,1,1.0,3900.000000,3900.000000,404.0,3.200000,3448.581192,0.000000,0.0,0.0,...,West-Germany 1,männlich,Bachelor s or equivalent level,Eigentuemer,Verwitwet / Lebenspartner/-in aus eingetragene...,1157.73,409000.0,0.00,False,0
604,1,1.0,792.000000,792.000000,404.0,57.000000,706.860000,461.000000,0.0,0.0,...,West-Germany 1,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,6805.95,0.0,0.00,False,0
990,1,1.0,5300.000000,5300.000000,404.0,43.638923,4692.700889,0.000000,0.0,0.0,...,West-Germany 1,männlich,Bachelor s or equivalent level,Hauptmieter,Verwitwet / Lebenspartner/-in aus eingetragene...,1540.64,20000.0,0.00,False,0
1015,1,1.0,2501.000000,2501.000000,404.0,45.703125,2225.890000,0.000000,0.0,0.0,...,West-Germany 1,männlich,Upper secondary education,Hauptmieter,Verwitwet / Lebenspartner/-in aus eingetragene...,2912.89,6000.0,61.88,True,50
1708,1,1.0,1400.000000,1400.000000,404.0,63.000000,1246.000000,0.000000,0.0,0.0,...,West-Germany 1,männlich,Upper secondary education,Hauptmieter,Verwitwet / Lebenspartner/-in aus eingetragene...,1321.08,10000.0,61.88,True,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3344850,1,1.0,400.000000,400.000000,404.0,72.933371,357.000000,476.933371,0.0,0.0,...,West-Germany 1,weiblich,Primary education,Hauptmieter,Verwitwet / Lebenspartner/-in aus eingetragene...,5068.03,0.0,0.00,False,0
3346667,1,1.0,1751.111111,1751.111111,404.0,48.750000,1562.866667,452.750000,0.0,0.0,...,West-Germany 1,männlich,Short-cycle tertiary education,Hauptmieter,"Verheiratet, dauernd getrennt lebend",4879.39,0.0,0.00,False,0
3414603,1,1.0,1709.000000,1709.000000,404.0,2.857143,1525.282500,0.000000,0.0,0.0,...,West-Germany 1,männlich,Master s or equivalent level,Eigentuemer,"Verheiratet, dauernd getrennt lebend",745.64,81000.0,0.00,False,0
3500992,1,1.0,3200.000000,3200.000000,404.0,34.913793,2856.000000,0.000000,0.0,0.0,...,West-Germany 1,männlich,Bachelor s or equivalent level,Hauptmieter,"Verheiratet, dauernd getrennt lebend",7532.56,26400.0,0.00,False,0
3501417,1,1.0,637.000000,637.000000,404.0,37.500000,568.522500,441.500000,0.0,0.0,...,West-Germany 1,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,5655.96,0.0,0.00,False,0

In [18]:
ergebnisse_1 = ergebnisse.loc[(ergebnisse['hh_size']==1)].copy()

In [19]:
ergebnisse_1["Grundsicherung_sim"] = (
    ergebnisse_1["regelsatz_m_hh_ab_2011"] 
    + ergebnisse_1["kost_unterk_m_hh"]
    + ergebnisse_1["sozialv_beitr_m"]
    - ergebnisse_1["ges_rente_m"])

ergebnisse_1.loc[ergebnisse_1['behinderungsgrad'] >= 50, 'Grundsicherung_sim'] = (
    ergebnisse_1["Grundsicherung_sim"] 
    + 0.17 * ergebnisse_1["regelsatz_m_hh_ab_2011"]
)

ergebnisse_1.loc[ergebnisse_1['Grundsicherung_sim'] <= 0, 'Grundsicherung_sim'] = 0

In [20]:
ergebnisse_1 = ergebnisse_1.drop([3134856]).copy()

In [21]:
a = ergebnisse_1.loc[(ergebnisse_1['grunds_im_alter_m_hh']==0)&(ergebnisse_1['soc_assist_eld_m']!=0)]
a

,haushaltsgröße_hh,hh_size,ges_rente_m,staatl_rente_m,regelsatz_m_hh_ab_2011,kost_unterk_m_hh,anrechenbares_eink_grunds_ia_m_hh,regelbedarf_m_grunds_ia_vermögens_check_hh,anrechenbares_erwerbs_eink_grunds_ia_m,anrechenbare_prv_rente_grunds_ia_m,...,geschlecht,bildungsstand,rented_or_owned,marital_status,hh_gewicht,vermögen_hh,mehrbedarf_behinderung_m_hh,schwerbe_ausweis_g,behinderungsgrad,Grundsicherung_sim
hh_id,,,,,,,,,,,,,,,,,,,,,
604,1,1.0,792.000000,792.000000,404.0,57.000000,706.860000,461.000000,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,6805.95,0.0,0.00,False,0,0.000000
71099,1,1.0,908.000000,908.000000,404.0,60.319149,810.390000,464.319149,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,6148.36,532.0,0.00,False,0,0.000000
208558,1,1.0,838.000000,838.000000,404.0,107.000000,745.820000,511.000000,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Ledig,11274.03,0.0,61.88,True,50,0.000000
254436,1,1.0,450.000000,450.000000,404.0,55.384615,401.625000,0.000000,0.0,0.0,...,weiblich,Post-secondary non-tertiary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,392.68,7760.0,0.00,False,0,57.759615
259101,1,1.0,1296.083333,1296.083333,404.0,67.500000,1156.754375,471.500000,0.0,0.0,...,männlich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,7377.40,0.0,61.88,True,80,0.000000
301183,1,1.0,1270.083333,1270.083333,404.0,49.390244,1133.549375,0.000000,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Verwitwet / Lebenspartner/-in aus eingetragene...,11979.29,10900.0,0.00,False,0,0.000000
304379,1,1.0,635.000000,635.000000,404.0,72.000000,566.737500,476.000000,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,7499.62,0.0,0.00,False,0,0.000000
306720,1,1.0,800.000000,800.000000,404.0,35.526316,714.000000,439.526316,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,8633.75,0.0,0.00,False,0,0.000000
317284,1,1.0,660.000000,660.000000,404.0,48.648649,589.050000,452.648649,0.0,0.0,...,weiblich,Lower secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,3793.02,0.0,0.00,False,0,0.000000
349682,1,1.0,792.000000,792.000000,404.0,32.661290,706.860000,0.000000,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,3246.46,3000.0,0.00,False,0,0.000000
502871,1,1.0,1669.000000,1669.000000,404.0,26.250000,1489.582500,0.000000,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Verwitwet / Lebenspartner/-in aus eingetragene...,2036.55,10900.0,61.88,True,100,0.000000
503266,1,1.0,519.000000,519.000000,404.0,5.000000,463.207500,0.000000,0.0,0.0,...,weiblich,Upper secondary education,Eigentuemer,Geschieden / eingetragene gleichgeschlechtlich...,4500.98,82500.0,0.00,False,0,0.000000
511218,1,1.0,1800.000000,1800.000000,404.0,5.000000,1605.589492,0.000000,0.0,0.0,...,männlich,Bachelor s or equivalent level,Eigentuemer,Verwitwet / Lebenspartner/-in aus eingetragene...,311.48,124250.0,0.00,False,0,0.000000
800651,1,1.0,850.000000,850.000000,404.0,67.978723,758.625000,471.978723,0.0,0.0,...,männlich,Bachelor s or equivalent level,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,415.01,0.0,61.88,True,100,0.000000
2156337,1,1.0,739.000000,739.000000,404.0,96.739831,657.710000,500.739831,0.0,0.0,...,männlich,Primary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,8890.94,-1500.0,0.00,False,0,0.000000
2162582,1,1.0,594.000000,594.000000,404.0,53.181818,530.145000,457.181818,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,2436.36,-350.0,0.00,False,20,0.000000
2174920,1,1.0,890.583333,890.583333,404.0,25.000000,792.619167,429.000000,0.0,0.0,...,männlich,Bachelor s or equivalent level,Hauptmieter,Ledig,4901.22,0.0,61.88,True,60,0.000000
2181153,1,1.0,530.000000,530.000000,404.0,63.851351,473.025000,467.851351,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,1434.24,2000.0,0.00,False,0,0.000000
3052426,1,1.0,680.000000,680.000000,404.0,65.322581,605.200000,469.322581,0.0,0.0,...,weiblich,Lower secondary education,Hauptmieter,Ledig,2064.31,0.0,0.00,False,0,0.000000
3053570,1,1.0,651.000000,651.000000,404.0,80.660377,581.017500,484.660377,0.0,0.0,...,weiblich,Lower secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,4931.44,0.0,0.00,False,0,0.000000
3063614,1,1.0,555.000000,555.000000,404.0,48.214286,495.337500,452.214286,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,13487.00,0.0,0.00,False,0,0.000000
3073865,1,1.0,680.000000,680.000000,404.0,55.000000,606.900000,459.000000,0.0,0.0,...,männlich,Upper secondary education,Hauptmieter,Verwitwet / Lebenspartner/-in aus eingetragene...,7008.05,0.0,61.88,True,80,0.000000
3077615,1,1.0,746.000000,746.000000,404.0,23.092105,665.805000,427.092105,0.0,0.0,...,männlich,Doctoral or equivalent level,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,11432.17,0.0,0.00,False,0,0.000000
3082970,1,1.0,800.000000,800.000000,404.0,85.000000,714.000000,489.000000,0.0,0.0,...,männlich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,1573.75,2000.0,0.00,False,0,0.000000
3094420,1,1.0,860.000000,860.000000,404.0,72.457627,767.550000,476.457627,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,567.54,0.0,0.00,False,0,0.000000
3135615,1,1.0,1100.000000,1100.000000,404.0,63.679245,981.750000,467.679245,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Ledig,2075.87,0.0,0.00,False,0,0.000000
3136026,1,1.0,600.000000,600.000000,404.0,57.115385,535.500000,461.115385,0.0,0.0,...,männlich,Lower secondary education,Hauptmieter,Verwitwet / Lebenspartner/-in aus eingetragene...,2347.43,-2500.0,61.88,True,70,0.000000
3136123,1,1.0,63.000000,63.000000,404.0,55.000000,56.227500,0.000000,0.0,0.0,...,männlich,Bachelor s or equivalent level,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,733.37,4000.0,0.00,False,0,402.772500
3143596,1,1.0,510.000000,510.000000,404.0,73.557692,455.175000,0.000000,0.0,0.0,...,weiblich,Upper secondary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,2730.57,3320.0,0.00,False,0,22.382692
3235202,1,1.0,740.000000,740.000000,404.0,65.700000,660.450000,469.700000,0.0,0.0,...,weiblich,Bachelor s or equivalent level,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,4104.70,1000.0,0.00,False,0,0.000000
3237558,1,1.0,700.000000,700.000000,404.0,32.142857,624.750000,436.142857,0.0,0.0,...,männlich,Lower secondary education,Hauptmieter,"Verheiratet, dauernd getrennt lebend",346.55,0.0,0.00,False,0,0.000000
3305650,1,1.0,571.000000,571.000000,404.0,67.105263,509.617500,471.105263,0.0,0.0,...,weiblich,Post-secondary non-tertiary education,Hauptmieter,Geschieden / eingetragene gleichgeschlechtlich...,4164.42,0.0,0.00,False,0,0.000000

In [22]:
np.count_nonzero(a['hh_size'])

32

In [23]:
# in sonstig_eink_m ist soc_assist_eld

### Auswertung

In [24]:
soep_rentner_2017_1_neu = ergebnisse_1.loc[(ergebnisse_1['grunds_im_alter_m_hh']!=0)].copy()
soep_rentner_2017_1_neu['altersgruppe'] = 1
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['alter'] > 76.0, 'altersgruppe'] = 2
soep_rentner_2017_1_neu['grunds_im_alter_m_hh'] = soep_rentner_2017_1_neu['grunds_im_alter_m_hh']
soep_rentner_2017_1_neu['grundsicherung'] = 0
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['grunds_im_alter_m_hh'] > 0, 'grundsicherung'] = 1
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['grunds_im_alter_m_hh'] > 200, 'grundsicherung'] = 2
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['grunds_im_alter_m_hh'] > 600, 'grundsicherung'] = 3
soep_rentner_2017_1_neu['behinderungsgrad1'] = 0
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['behinderungsgrad'] > 0, 'behinderungsgrad1'] = 1
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['behinderungsgrad'] > 50, 'behinderungsgrad1'] = 2
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['behinderungsgrad'] == 100, 'behinderungsgrad1'] = 3
soep_rentner_2017_1_neu['bildungsstand_neu'] = 'low'
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['bildungsstand'] == 'Upper secondary education', 'bildungsstand_neu'] = 'middle'
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['bildungsstand'] == 'Post-secondary non-tertiary education', 'bildungsstand_neu'] = 'middle'
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['bildungsstand'] == 'Bachelor s or equivalent level', 'bildungsstand_neu'] = 'high'
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['bildungsstand'] == 'Master s or equivalent level', 'bildungsstand_neu'] = 'high'
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['bildungsstand'] == 'Short-cycle tertiary education ', 'bildungsstand_neu'] = 'high'
soep_rentner_2017_1_neu.loc[soep_rentner_2017_1_neu['bildungsstand'] == 'Doctoral or equivalent level', 'bildungsstand_neu'] = 'high'
soep_rentner_2017_1_neu
#np.count_nonzero(soep_rentner_2017_1['soc_assist_eld'])

,haushaltsgröße_hh,hh_size,ges_rente_m,staatl_rente_m,regelsatz_m_hh_ab_2011,kost_unterk_m_hh,anrechenbares_eink_grunds_ia_m_hh,regelbedarf_m_grunds_ia_vermögens_check_hh,anrechenbares_erwerbs_eink_grunds_ia_m,anrechenbare_prv_rente_grunds_ia_m,...,hh_gewicht,vermögen_hh,mehrbedarf_behinderung_m_hh,schwerbe_ausweis_g,behinderungsgrad,Grundsicherung_sim,altersgruppe,grundsicherung,behinderungsgrad1,bildungsstand_neu
hh_id,,,,,,,,,,,,,,,,,,,,,
11401,1,1.0,0.000000,0.000000,404.0,18.409091,0.000000,422.409091,0.0,0.0,...,2930.32,0.0,0.00,False,0,422.409091,2,2,0,middle
17361,1,1.0,0.000000,0.000000,404.0,62.234043,0.000000,466.234043,0.0,0.0,...,2217.50,1000.0,0.00,False,0,466.234043,1,2,0,low
37940,1,1.0,360.000000,360.000000,404.0,52.941176,321.300000,456.941176,0.0,0.0,...,7021.50,800.0,0.00,False,0,135.641176,1,1,0,high
52361,1,1.0,496.000000,496.000000,404.0,57.000000,441.440000,461.000000,0.0,0.0,...,8925.50,0.0,0.00,False,0,19.560000,2,1,0,middle
91642,1,1.0,245.000000,245.000000,404.0,67.500000,218.050000,471.500000,0.0,0.0,...,6997.67,0.0,0.00,False,0,253.450000,2,2,0,middle
128228,1,1.0,290.000000,290.000000,404.0,54.000000,258.825000,458.000000,0.0,0.0,...,11343.40,0.0,0.00,False,0,199.175000,1,1,0,high
257443,1,1.0,119.000000,119.000000,404.0,56.250000,106.207500,460.250000,0.0,0.0,...,6812.90,0.0,0.00,False,30,354.042500,2,2,1,high
274810,1,1.0,614.000000,614.000000,404.0,105.241935,547.995000,509.241935,0.0,0.0,...,5674.81,0.0,61.88,True,70,29.926935,1,1,2,low
337234,1,1.0,570.000000,570.000000,404.0,73.928571,507.300000,477.928571,0.0,0.0,...,9766.21,0.0,61.88,True,60,39.308571,1,1,2,low
389765,1,1.0,201.000000,201.000000,404.0,37.000000,178.890000,441.000000,0.0,0.0,...,3871.25,2380.0,0.00,False,0,262.110000,1,2,0,middle
509329,1,1.0,0.000000,0.000000,404.0,60.000000,0.000000,464.000000,0.0,0.0,...,4361.34,0.0,0.00,False,0,464.000000,1,2,0,middle
2169528,1,1.0,647.000000,647.000000,404.0,219.375000,577.447500,623.375000,0.0,0.0,...,1942.79,0.0,0.00,False,0,45.927500,1,1,0,middle
2179566,1,1.0,0.000000,0.000000,404.0,60.267857,0.000000,0.000000,0.0,0.0,...,5563.73,10000.0,61.88,True,50,532.947857,1,1,1,middle
3003344,1,1.0,300.000000,300.000000,404.0,65.625000,267.000000,469.625000,0.0,0.0,...,13081.78,0.0,61.88,True,50,271.305000,1,2,1,middle
3007277,1,1.0,501.583333,501.583333,404.0,125.000000,447.663125,529.000000,0.0,0.0,...,13420.98,0.0,0.00,False,0,81.336875,2,1,0,high
3026360,1,1.0,520.000000,520.000000,404.0,54.768696,464.100000,458.768696,0.0,0.0,...,7419.44,0.0,61.88,True,50,63.348696,2,1,1,middle
3036749,1,1.0,112.000000,112.000000,404.0,51.315789,99.960000,455.315789,0.0,0.0,...,6457.46,0.0,61.88,True,100,424.035789,1,2,3,low
3055972,1,1.0,497.000000,497.000000,404.0,47.596154,443.572500,451.596154,0.0,0.0,...,6362.94,500.0,0.00,False,0,8.023654,1,1,0,middle
3062871,1,1.0,220.000000,220.000000,404.0,30.000000,196.350000,434.000000,0.0,0.0,...,5583.48,-233740.0,0.00,False,0,237.650000,2,2,0,middle
3073520,1,1.0,430.000000,430.000000,404.0,30.405405,383.775000,434.405405,0.0,0.0,...,5260.64,0.0,0.00,False,0,50.630405,2,1,0,low
3128872,1,1.0,250.000000,250.000000,404.0,4.210526,223.125000,408.210526,0.0,0.0,...,3539.87,0.0,0.00,False,0,185.085526,2,1,0,low
3171395,1,1.0,25.000000,25.000000,404.0,59.693878,22.312500,463.693878,0.0,0.0,...,2190.92,0.0,61.88,True,70,510.061378,1,2,2,high
3173525,1,1.0,0.000000,0.000000,404.0,72.344520,0.000000,476.344520,0.0,0.0,...,1426.64,0.0,0.00,False,20,476.344520,1,2,1,middle
3180700,1,1.0,253.000000,253.000000,404.0,65.625000,281.802500,469.625000,56.0,0.0,...,2556.06,0.0,0.00,False,0,243.822500,1,1,0,middle
3199044,1,1.0,430.000000,430.000000,404.0,55.000000,383.775000,459.000000,0.0,0.0,...,4527.81,0.0,0.00,False,0,75.225000,1,1,0,high
3214337,1,1.0,22.000000,22.000000,404.0,81.899457,19.635000,485.899457,0.0,0.0,...,1797.91,0.0,0.00,False,0,466.264457,1,2,0,middle
3255327,1,1.0,400.000000,400.000000,404.0,65.000000,356.000000,469.000000,0.0,0.0,...,4644.59,0.0,0.00,False,0,113.000000,1,1,0,middle
3333638,1,1.0,221.000000,221.000000,404.0,78.750000,197.242500,482.750000,0.0,0.0,...,1924.25,0.0,0.00,False,0,285.507500,1,2,0,middle
3344850,1,1.0,400.000000,400.000000,404.0,72.933371,357.000000,476.933371,0.0,0.0,...,5068.03,0.0,0.00,False,0,119.933371,1,1,0,low

In [25]:
b = soep_rentner_2017_1_neu.reset_index()
b['hh_id'].unique()

array([  11401,   17361,   37940,   52361,   91642,  128228,  257443,
        274810,  337234,  389765,  509329, 2169528, 2179566, 3003344,
       3007277, 3026360, 3036749, 3055972, 3062871, 3073520, 3128872,
       3171395, 3173525, 3180700, 3199044, 3214337, 3255327, 3333638,
       3344850])

## Geschlecht

In [26]:
soep_rentner_2017_1_neu['geschlecht'].value_counts()

weiblich    22
männlich     7
Name: geschlecht, dtype: int64

In [27]:
soep_rentner_2017_1_neu['geschlecht'].value_counts(normalize=True)

weiblich    0.758621
männlich    0.241379
Name: geschlecht, dtype: float64

In [28]:
soep_rentner_2017_1_neu.groupby(['geschlecht'])['hh_gewicht'].agg('sum')

geschlecht
männlich     55886.62
weiblich    106805.10
Name: hh_gewicht, dtype: float64

In [29]:
130131.18 + 355233.46

485364.64

In [30]:
print('männlich:', 130131.18/485364.64,
    'weiblich:', 355233.46/485364.64)

männlich: 0.26811013674172884 weiblich: 0.7318898632582712

## Alter

In [31]:
soep_rentner_2017_1_neu['altersgruppe'].value_counts()

1    20
2     9
Name: altersgruppe, dtype: int64

In [32]:
soep_rentner_2017_1_neu['altersgruppe'].value_counts(normalize=True)

1    0.689655
2    0.310345
Name: altersgruppe, dtype: float64

In [33]:
soep_rentner_2017_1_neu.groupby(['altersgruppe'])['hh_gewicht'].agg('sum')

altersgruppe
1    101800.92
2     60890.80
Name: hh_gewicht, dtype: float64

In [34]:
print('1:', 255247.12/485364.64,
    '2:', 230117.52/485364.64)

1: 0.5258873411132711 2: 0.47411265888672893

## Region

In [35]:
soep_rentner_2017_1_neu['region'].value_counts()

West-Germany 1    27
East-Germany 2     2
Name: region, dtype: int64

In [36]:
soep_rentner_2017_1_neu['region'].value_counts(normalize=True)

West-Germany 1    0.931034
East-Germany 2    0.068966
Name: region, dtype: float64

In [37]:
soep_rentner_2017_1_neu.groupby(['region'])['hh_gewicht'].agg('sum')

region
East-Germany 2      6304.13
West-Germany 1    156387.59
Name: hh_gewicht, dtype: float64

In [38]:
print('ost:', 74405.81/485364.64,
    'west:', 410958.83/485364.64)

ost: 0.15329878583656195 west: 0.846701214163438

## Bildungsstand

In [39]:
soep_rentner_2017_1_neu['bildungsstand'].value_counts()

Upper secondary education                12
Bachelor s or equivalent level            5
Lower secondary education                 4
Post-secondary non-tertiary education     4
Primary education                         2
Short-cycle tertiary education            1
Master s or equivalent level              1
Name: bildungsstand, dtype: int64

In [40]:
soep_rentner_2017_1_neu['bildungsstand'].value_counts(normalize=True)

Upper secondary education                0.413793
Bachelor s or equivalent level           0.172414
Lower secondary education                0.137931
Post-secondary non-tertiary education    0.137931
Primary education                        0.068966
Short-cycle tertiary education           0.034483
Master s or equivalent level             0.034483
Name: bildungsstand, dtype: float64

In [41]:
soep_rentner_2017_1_neu['bildungsstand_neu'].value_counts()

middle    16
low        7
high       6
Name: bildungsstand_neu, dtype: int64

In [42]:
soep_rentner_2017_1_neu['bildungsstand_neu'].value_counts(normalize=True)

middle    0.551724
low       0.241379
high      0.206897
Name: bildungsstand_neu, dtype: float64

In [43]:
soep_rentner_2017_1_neu.groupby(['bildungsstand_neu'])['hh_gewicht'].agg('sum')

bildungsstand_neu
high      45317.51
low       37984.52
middle    79389.69
Name: hh_gewicht, dtype: float64

In [44]:
print('low:', 129380.23/485364.64,
    'middle:', 255752.70/485364.64,
     'high:', 100231.71/485364.64)

low: 0.2665629494558977 middle: 0.5269289909541 high: 0.2065080595900023

## Behinderungsgrad

In [45]:
soep_rentner_2017_1_neu['behinderungsgrad1'].value_counts()

0    20
1     5
2     3
3     1
Name: behinderungsgrad1, dtype: int64

In [46]:
soep_rentner_2017_1_neu['behinderungsgrad1'].value_counts(normalize=True)

0    0.689655
1    0.172414
2    0.103448
3    0.034483
Name: behinderungsgrad1, dtype: float64

In [47]:
soep_rentner_2017_1_neu.groupby(['behinderungsgrad1'])['hh_gewicht'].agg('sum')

behinderungsgrad1
0    104297.83
1     34304.49
2     17631.94
3      6457.46
Name: hh_gewicht, dtype: float64

In [48]:
print('0:', 300389.76/485364.64,
    '1:', 70229.62/485364.64,
     '2:', 82731.06/485364.64,
     '3:', 32014.20/485364.64,)

0: 0.6188950229254443 1: 0.14469455376889423 2: 0.1704513538522295 3: 0.06595906945343195

## Wohnverhältnis

In [49]:
soep_rentner_2017_1_neu['rented_or_owned'].value_counts()

Hauptmieter    25
Untermieter     3
Eigentuemer     1
Name: rented_or_owned, dtype: int64

In [50]:
soep_rentner_2017_1_neu['rented_or_owned'].value_counts(normalize=True)

Hauptmieter    0.862069
Untermieter    0.103448
Eigentuemer    0.034483
Name: rented_or_owned, dtype: float64

In [51]:
soep_rentner_2017_1_neu.groupby(['rented_or_owned'])['hh_gewicht'].agg('sum')

rented_or_owned
Eigentuemer      3539.87
Hauptmieter    133050.79
Untermieter     26101.06
Name: hh_gewicht, dtype: float64

In [52]:
print('Hauptmiete:', 448856.70/485364.64,
    'Untermieter:', 32968.07/485364.64,
     'Eigentuemer:', 3539.87/485364.64,
     'Miete:', (448856.70+32968.07)/485364.64)

Hauptmiete: 0.924782448099227 Untermieter: 0.06792433416657628 Eigentuemer: 0.0072932177341967054 Miete: 0.9927067822658033

## Haushaltstyp

In [53]:
soep_rentner_2017_1_neu['marital_status'].value_counts()

Verwitwet / Lebenspartner/-in aus eingetragener gleichgeschlechtlicher Partnerschaft verstorben    13
Geschieden / eingetragene gleichgeschlechtliche Partnerschaft aufgehoben                           10
Verheiratet, dauernd getrennt lebend                                                                4
Ledig                                                                                               2
Name: marital_status, dtype: int64

In [54]:
soep_rentner_2017_1_neu['marital_status'].value_counts(normalize=True)

Verwitwet / Lebenspartner/-in aus eingetragener gleichgeschlechtlicher Partnerschaft verstorben    0.448276
Geschieden / eingetragene gleichgeschlechtliche Partnerschaft aufgehoben                           0.344828
Verheiratet, dauernd getrennt lebend                                                               0.137931
Ledig                                                                                              0.068966
Name: marital_status, dtype: float64

In [55]:
soep_rentner_2017_1_neu.groupby(['marital_status'])['hh_gewicht'].agg('sum')

marital_status
Geschieden / eingetragene gleichgeschlechtliche Partnerschaft aufgehoben                           62319.20
Ledig                                                                                              12585.23
Verheiratet, dauernd getrennt lebend                                                               31559.59
Verwitwet / Lebenspartner/-in aus eingetragener gleichgeschlechtlicher Partnerschaft verstorben    56227.70
Name: hh_gewicht, dtype: float64

In [56]:
print('low:', 2347404.75/485364.64,
    'middle:', 5038800.75/485364.64,
     'high:', 6/485364.64)

low: 4.836373638590565 middle: 10.381474740310708 high: 1.2361839956038001e-05

## Grundsicherung

In [57]:
soep_rentner_2017_1_neu['grundsicherung'].value_counts()

1    16
2    13
Name: grundsicherung, dtype: int64

In [58]:
soep_rentner_2017_1_neu['grundsicherung'].value_counts(normalize=True)

1    0.551724
2    0.448276
Name: grundsicherung, dtype: float64

In [59]:
soep_rentner_2017_1_neu.groupby(['grundsicherung'])['hh_gewicht'].agg('sum')

grundsicherung
1    103038.30
2     59653.42
Name: hh_gewicht, dtype: float64

In [60]:
print('1:', 271670.16/485364.64,
     '2:', 171684.34/485364.64,
     '3:', 42010.14/485364.64)

1: 0.5597238397918727 2: 0.3537223890063355 3: 0.08655377120179171

In [61]:
soep_rentner_2017_1_neu['grunds'].value_counts(normalize=True)

KeyError: 'grunds'